In [1]:
import pandas as pd

In [2]:
from scipy.stats import chisquare

In [3]:
df = pd.read_csv('/Users/s/dev4/daily-code-snippet/exam_practice/02/data/P2306/P230605.csv', encoding='euc-kr')

In [4]:
df

     코드
0     4
1     2
2     4
3     4
4     4
..   ..
248   4
249   4
250   4
251   4
252   4

[253 rows x 1 columns]

In [6]:
df.groupby('코드').size()

코드
1     15
2     24
3     15
4    199
dtype: int64

In [12]:
df_new = df.groupby('코드').size().reset_index(name='건수')
df_new

   코드   건수
0   1   15
1   2   24
2   3   15
3   4  199

In [10]:
#1) 위약 샘플 데이터가 부작용없음인 데이터를 0~1 사이의 확률로 출력하시오
#코드 1 두통 0.05, 2 졸림 0.1, 3 속쓰림 0.05, 부작용 없음 4 0.8

In [21]:
df_new['비율'] = df_new['건수']/len(df)
df_new

   코드   건수        비율
0   1   15  0.059289
1   2   24  0.094862
2   3   15  0.059289
3   4  199  0.786561

In [23]:
df_new['비율'][3]

0.7865612648221344

In [22]:
round(df_new[df_new['코드']==4].건수.values[0] / len(df), 3)

0.787

In [24]:
#2) 카이제곱 검정으로 검정 통계랑을 출력하시오
df_table = pd.DataFrame({'코드': [1,2,3,4], '비율': [0.05, 0.1, 0.05, 0.8]})
res_chi = chisquare(df_new['건수'], f_exp = df_table['비율']*len(df))

In [25]:
help(chisquare)

Help on function chisquare in module scipy.stats.stats:

chisquare(f_obs, f_exp=None, ddof=0, axis=0)
    Calculate a one-way chi-square test.

    The chi-square test tests the null hypothesis that the categorical data
    has the given frequencies.

    Parameters
    ----------
    f_obs : array_like
        Observed frequencies in each category.
    f_exp : array_like, optional
        Expected frequencies in each category.  By default the categories are
        assumed to be equally likely.
    ddof : int, optional
        "Delta degrees of freedom": adjustment to the degrees of freedom
        for the p-value.  The p-value is computed using a chi-squared
        distribution with ``k - 1 - ddof`` degrees of freedom, where `k`
        is the number of observed frequencies.  The default value of `ddof`
        is 0.
    axis : int or None, optional
        The axis of the broadcast result of `f_obs` and `f_exp` along which to
        apply the test.  If axis is None, all values in `f_obs` are treated
        as a single data set.  Default is 0.

    Returns
    -------
    chisq : float or ndarray
        The chi-squared test statistic.  The value is a float if `axis` is
        None or `f_obs` and `f_exp` are 1-D.
    p : float or ndarray
        The p-value of the test.  The value is a float if `ddof` and the
        return value `chisq` are scalars.

    See Also
    --------
    scipy.stats.power_divergence
    scipy.stats.fisher_exact : Fisher exact test on a 2x2 contingency table.
    scipy.stats.barnard_exact : An unconditional exact test. An alternative
        to chi-squared test for small sample sizes.

    Notes
    -----
    This test is invalid when the observed or expected frequencies in each
    category are too small.  A typical rule is that all of the observed
    and expected frequencies should be at least 5. According to [3]_, the
    total number of samples is recommended to be greater than 13,
    otherwise exact tests (such as Barnard's Exact test) should be used
    because they do not overreject.

    Also, the sum of the observed and expected frequencies must be the same
    for the test to be valid; `chisquare` raises an error if the sums do not
    agree within a relative tolerance of ``1e-8``.

    The default degrees of freedom, k-1, are for the case when no parameters
    of the distribution are estimated. If p parameters are estimated by
    efficient maximum likelihood then the correct degrees of freedom are
    k-1-p. If the parameters are estimated in a different way, then the
    dof can be between k-1-p and k-1. However, it is also possible that
    the asymptotic distribution is not chi-square, in which case this test
    is not appropriate.

    References
    ----------
    .. [1] Lowry, Richard.  "Concepts and Applications of Inferential
           Statistics". Chapter 8.
           https://web.archive.org/web/20171022032306/http://vassarstats.net:80/textbook/ch8pt1.html
    .. [2] "Chi-squared test", https://en.wikipedia.org/wiki/Chi-squared_test
    .. [3] Pearson, Karl. "On the criterion that a given system of deviations from the probable
           in the case of a correlated system of variables is such that it can be reasonably
           supposed to have arisen from random sampling", Philosophical Magazine. Series 5. 50
           (1900), pp. 157-175.

    Examples
    --------
    When just `f_obs` is given, it is assumed that the expected frequencies
    are uniform and given by the mean of the observed frequencies.

    >>> from scipy.stats import chisquare
    >>> chisquare([16, 18, 16, 14, 12, 12])
    (2.0, 0.84914503608460956)

    With `f_exp` the expected frequencies can be given.

    >>> chisquare([16, 18, 16, 14, 12, 12], f_exp=[16, 16, 16, 16, 16, 8])
    (3.5, 0.62338762774958223)

    When `f_obs` is 2-D, by default the test is applied to each column.

    >>> obs = np.array([[16, 18, 16, 14, 12, 12], [32, 24, 16, 28, 20, 24]]).T
    >>> obs.shape
    (6, 2)
    >>> chisquare(obs)
    (array([ 2.        ,  6.66666667]), array([ 0.84914504,  0.24663415]))

    By setting ``axis=None``, the test is applied to all data in the array,
    which is equivalent to applying the test to the flattened array.

    >>> chisquare(obs, axis=None)
    (23.31034482758621, 0.015975692534127565)
    >>> chisquare(obs.ravel())
    (23.31034482758621, 0.015975692534127565)

    `ddof` is the change to make to the default degrees of freedom.

    >>> chisquare([16, 18, 16, 14, 12, 12], ddof=1)
    (2.0, 0.73575888234288467)

    The calculation of the p-values is done by broadcasting the
    chi-squared statistic with `ddof`.

    >>> chisquare([16, 18, 16, 14, 12, 12], ddof=[0,1,2])
    (2.0, array([ 0.84914504,  0.73575888,  0.5724067 ]))

    `f_obs` and `f_exp` are also broadcast.  In the following, `f_obs` has
    shape (6,) and `f_exp` has shape (2, 6), so the result of broadcasting
    `f_obs` and `f_exp` has shape (2, 6).  To compute the desired chi-squared
    statistics, we use ``axis=1``:

    >>> chisquare([16, 18, 16, 14, 12, 12],
    ...           f_exp=[[16, 16, 16, 16, 16, 8], [8, 20, 20, 16, 12, 12]],
    ...           axis=1)
    (array([ 3.5 ,  9.25]), array([ 0.62338763,  0.09949846]))

In [27]:
res_chi

Power_divergenceResult(statistic=0.9970355731225298, pvalue=0.801969260894451)

In [29]:
round(res_chi.statistic, 3)

0.997

In [30]:
#3) 유의확률(p-value)를 구하시오
round(res_chi.pvalue, 3)

0.802

In [31]:
df = pd.read_csv('/Users/s/dev4/daily-code-snippet/exam_practice/02/data/P2306/P230606.csv', encoding='euc-kr')

In [32]:
df

     O3  Solar  Wind  Temperature
0    41    190   7.4           67
1    36    118   8.0           72
2    12    149  12.6           74
3    18    313  11.5           62
4    23    299   8.6           65
..   ..    ...   ...          ...
106  14     20  16.6           63
107  30    193   6.9           70
108  14    191  14.3           75
109  18    131   8.0           76
110  20    223  11.5           68

[111 rows x 4 columns]

In [38]:
#(다른)변수에 대한 온도를 예측하는 모델을 생성하시오.
#1) Ozone melting 변수에 대한 회귀계수 추정값을 구하시오

from statsmodels.formula.api import ols

In [40]:
formular_str = 'Temperature ~ O3 + Solar + Wind'
res = ols(formular_str, data=df).fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            Temperature   R-squared:                       0.500
Model:                            OLS   Adj. R-squared:                  0.486
Method:                 Least Squares   F-statistic:                     35.65
Date:                Tue, 28 Nov 2023   Prob (F-statistic):           4.73e-16
Time:                        00:29:58   Log-Likelihood:                -368.79
No. Observations:                 111   AIC:                             745.6
Df Residuals:                     107   BIC:                             756.4
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     72.4186      3.216     22.522      0.000      66.044      78.793
O3             0.1720      0.026      6.516      0.000       0.120       0.224
Solar          0.0073      0.008      0.948      0.345      -0.008       0.022
Wind          -0.3229      0.233     -1.384      0.169      -0.785       0.139
==============================================================================
Omnibus:                        6.409   Durbin-Watson:                   1.170
Prob(Omnibus):                  0.041   Jarque-Bera (JB):                6.615
Skew:                          -0.591   Prob(JB):                       0.0366
Kurtosis:                       2.817   Cond. No.                     1.05e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.05e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [44]:
round(res.params['O3'], 3)

0.172