## Pclass, Gender, sibsp, parch를 독립변수로 사용하여 로지스틱 회귀모형을 실시하였을 때, parch변수의 계수값은?
(반올림하여 소수 셋째 자리까지 계산)

In [4]:
!pip install statsmodels
!pip install pandas
!pip install sklearn

Requirement already satisfied: statsmodels in /Users/s/opt/anaconda3/lib/python3.9/site-packages (0.13.2)
Requirement already satisfied: numpy>=1.17 in /Users/s/opt/anaconda3/lib/python3.9/site-packages (from statsmodels) (1.24.3)
Requirement already satisfied: scipy>=1.3 in /Users/s/opt/anaconda3/lib/python3.9/site-packages (from statsmodels) (1.11.2)
Requirement already satisfied: pandas>=0.25 in /Users/s/opt/anaconda3/lib/python3.9/site-packages (from statsmodels) (2.0.3)
Requirement already satisfied: patsy>=0.5.2 in /Users/s/opt/anaconda3/lib/python3.9/site-packages (from statsmodels) (0.5.2)
Requirement already satisfied: packaging>=21.3 in /Users/s/opt/anaconda3/lib/python3.9/site-packages (from statsmodels) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/s/opt/anaconda3/lib/python3.9/site-packages (from packaging>=21.3->statsmodels) (3.0.9)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/s/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/s/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.25->statsmodels) (2022.1)
Requirement already satisfied: tzdata>=2022.1 in /Users/s/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.25->statsmodels) (2023.3)
Requirement already satisfied: six in /Users/s/opt/anaconda3/lib/python3.9/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
WARNING: There was an error checking the latest version of pip.
Requirement already satisfied: pandas in /Users/s/opt/anaconda3/lib/python3.9/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/s/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/s/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.1 in /Users/s/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/s/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/s/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
WARNING: There was an error checking the latest version of pip.
Requirement already satisfied: sklearn in /Users/s/opt/anaconda3/lib/python3.9/site-packages (0.0.post7)
WARNING: There was an error checking the latest version of pip.

In [1]:
import pandas as pd
df = pd.read_csv("/Users/s/dev4/daily-code-snippet/exam_practice/practice/Titanic.csv")
df.head(3)

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [12]:
from statsmodels.formula.api import logit 
#formula = "Survived ~ C(Pclass) + Gender + SibSp + Parch"
formula  = "Survived ~ C(Gender) + SibSp + Parch + Fare"
model = logit(formula, data=df).fit()
model.params

Optimization terminated successfully.
         Current function value: 0.482065
         Iterations 6

/Users/s/opt/anaconda3/lib/python3.9/site-packages/patsy/util.py:672: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return _pandas_is_categorical_dtype(dt)
/Users/s/opt/anaconda3/lib/python3.9/site-packages/patsy/util.py:672: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return _pandas_is_categorical_dtype(dt)
/Users/s/opt/anaconda3/lib/python3.9/site-packages/patsy/util.py:672: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return _pandas_is_categorical_dtype(dt)
/Users/s/opt/anaconda3/lib/python3.9/site-packages/patsy/util.py:672: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return _pandas_is_categorical_dtype(dt)
/Users/s/opt/anaconda3/lib/python3.9/site-packages/patsy/util.py:672: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  return _pandas_is_categorical_dtype(dt)

Intercept        -1.695583
C(Gender)[T.1]    2.642219
SibSp            -0.353892
Parch            -0.200724
Fare              0.014685
dtype: float64

In [13]:
model.params['Parch']

-0.2007236009559983

In [14]:
import numpy as np
odds = np.exp(model.params)
print(odds)

Intercept          0.183492
C(Gender)[T.1]    14.044328
SibSp              0.701951
Parch              0.818139
Fare               1.014794
dtype: float64

In [20]:
len(odds)

5

In [22]:
odds['SibSp']

0.7019508186162718

In [11]:
#3) 위 2번 문제에서 추정된 로지스틱 회귀모형에서 SibSp변수가 한 단위 증가할 때 생존할 오즈비(Odds Ratio)값은?

In [21]:

for i in range(len(odds)):
    print(f'변수 {model.params.index[i]}의 logit : {model.params[i] : .3f}')
    print(f'변수 {model.params.index[i]}가 1단위 증가할 때, 생존할 로짓(odds ratio에 자연로그를 취한 값)이{model.params[i] : .3f}배 증가한다.')
    print(f'변수 {model.params.index[i]}의 odds ratio : {odds[i] : .3f}')
    print(f'변수 {model.params.index[i]}가 1단위 증가할 때, 생존할 확률(종속변수가 1일 확률)이 그렇지 않을 경우보다{odds[i] : .3f}배 증가한다.\n')

변수 Intercept의 logit : -1.696
변수 Intercept가 1단위 증가할 때, 생존할 로짓(odds ratio에 자연로그를 취한 값)이-1.696배 증가한다.
변수 Intercept의 odds ratio :  0.183
변수 Intercept가 1단위 증가할 때, 생존할 확률(종속변수가 1일 확률)이 그렇지 않을 경우보다 0.183배 증가한다.

변수 C(Gender)[T.1]의 logit :  2.642
변수 C(Gender)[T.1]가 1단위 증가할 때, 생존할 로짓(odds ratio에 자연로그를 취한 값)이 2.642배 증가한다.
변수 C(Gender)[T.1]의 odds ratio :  14.044
변수 C(Gender)[T.1]가 1단위 증가할 때, 생존할 확률(종속변수가 1일 확률)이 그렇지 않을 경우보다 14.044배 증가한다.

변수 SibSp의 logit : -0.354
변수 SibSp가 1단위 증가할 때, 생존할 로짓(odds ratio에 자연로그를 취한 값)이-0.354배 증가한다.
변수 SibSp의 odds ratio :  0.702
변수 SibSp가 1단위 증가할 때, 생존할 확률(종속변수가 1일 확률)이 그렇지 않을 경우보다 0.702배 증가한다.

변수 Parch의 logit : -0.201
변수 Parch가 1단위 증가할 때, 생존할 로짓(odds ratio에 자연로그를 취한 값)이-0.201배 증가한다.
변수 Parch의 odds ratio :  0.818
변수 Parch가 1단위 증가할 때, 생존할 확률(종속변수가 1일 확률)이 그렇지 않을 경우보다 0.818배 증가한다.

변수 Fare의 logit :  0.015
변수 Fare가 1단위 증가할 때, 생존할 로짓(odds ratio에 자연로그를 취한 값)이 0.015배 증가한다.
변수 Fare의 odds ratio :  1.015
변수 Fare가 1단위 증가할 때, 생존할 확률(종속변수가 1일 확률)이 그렇지 않을 경우보다 1.015배 증가한다.

/var/folders/91/x1jkjm3549s21y3h3k_k56q80000gn/T/ipykernel_64157/3508442568.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f'변수 {model.params.index[i]}의 logit : {model.params[i] : .3f}')
/var/folders/91/x1jkjm3549s21y3h3k_k56q80000gn/T/ipykernel_64157/3508442568.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f'변수 {model.params.index[i]}가 1단위 증가할 때, 생존할 로짓(odds ratio에 자연로그를 취한 값)이{model.params[i] : .3f}배 증가한다.')
/var/folders/91/x1jkjm3549s21y3h3k_k56q80000gn/T/ipykernel_64157/3508442568.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f'변수 {model.params.index[i]}의 odds ratio : {odds[i] : .3f}')
/var/folders/91/x1jkjm3549s21y3h3k_k56q80000gn/T/ipykernel_64157/3508442568.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f'변수 {model.params.index[i]}가 1단위 증가할 때, 생존할 확률(종속변수가 1일 확률)이 그렇지 않을 경우보다{odds[i] : .3f}배 증가한다.\n')

In [3]:
df.iloc[:,[2,4,6,7]]

     Pclass  Gender  SibSp  Parch
0         3    male      1      0
1         1  female      1      0
2         3  female      0      0
3         1  female      1      0
4         3    male      0      0
..      ...     ...    ...    ...
886       2    male      0      0
887       1  female      0      0
888       3  female      1      2
889       1    male      0      0
890       3    male      0      0

[891 rows x 4 columns]

In [4]:
df['Gender'].value_counts()

Gender
male      577
female    314
Name: count, dtype: int64

In [5]:
class_mapping = pd.DataFrame({'male': 0, 'female':1}, index=[0])
df['Gender'] = df['Gender'].replace('male', 0)
df['Gender'] = df['Gender'].replace('female', 1)
df['Gender']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: Gender, Length: 891, dtype: int64

In [6]:
df.iloc[:,2:]

,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
886,2,"Montvila, Rev. Juozas",0,27.0,0,0,211536,13.0000,NaN,S
887,1,"Graham, Miss. Margaret Edith",1,19.0,0,0,112053,30.0000,B42,S
888,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,"Behr, Mr. Karl Howell",0,26.0,0,0,111369,30.0000,C148,C
890,3,"Dooley, Mr. Patrick",0,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
!pip install sklearn

Requirement already satisfied: sklearn in /Users/s/opt/anaconda3/lib/python3.9/site-packages (0.0.post7)
WARNING: There was an error checking the latest version of pip.

In [8]:
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression()
model1.fit(df.iloc[:,[2,4,6,7]], df['Survived'])
model1.coef_

array([[-0.91565344,  2.65750763, -0.22500289, -0.037963  ]])

In [122]:
model1.intercept_

array([0.67798386])

In [120]:
formula = "Survived ~ C(Pclass) + Gender + SibSp + Parch"
model = logit(formula, data=df).fit()
model.params

Optimization terminated successfully.
         Current function value: 0.459565
         Iterations 6

Intercept        -0.268552
C(Pclass)[T.2]   -0.848152
C(Pclass)[T.3]   -1.866905
Gender            2.760281
SibSp            -0.232553
Parch            -0.049847
dtype: float64